<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">


    <!-- Inyecta el nombre de la sala en la página como un script JSON -->
    {{ room_name|json_script:"room-name" }}

    <script>
        // Obtiene el nombre de la sala de chat del script JSON
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log('AQUI --> ' + roomName)

        // se inserta un span con el nombre de la sala
        const elementH1 = document.createElement('h1');
        elementH1.textContent = 'Estas en la sala: ' + roomName;
        document.body.appendChild(elementH1);



        // Crea un nuevo WebSocket que se conecta al servidor en la ruta especificada
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
        );


        // Función que se llama cada vez que el servidor envía un mensaje a través del WebSocket
        chatSocket.onmessage = function (e) {

            // Convierte el mensaje de JSON a un objeto JavaScript
            const data = JSON.parse(e.data);

            // Agrega el mensaje al registro de chat en la página
            document.querySelector('#chat-log').value += ('<' + data.browser + '> ' + data.message + '\n');
        };

        // Función que se llama si el WebSocket se cierra inesperadamente
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        // Pone el foco en el campo de entrada del mensaje
        document.querySelector('#chat-message-input').focus();

        // Función que se llama cada vez que el usuario presiona una tecla en el campo de entrada del mensaje
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.key === 'Enter') {

                var nameBrowser = navigator.userAgent;
                chatSocket.send(JSON.stringify({
                    'message': document.querySelector('#chat-message-input').value,
                    'browser': nameBrowser
                }));
                
                document.querySelector('#chat-message-input').value = '';
            }
        };

        // Función que se llama cuando el usuario hace clic en el botón de enviar
        document.querySelector('#chat-message-submit').onclick = function (e) {
            // Obtiene el mensaje del campo de entrada
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            
            const nameBrowser = navigator.userAgent;
            

            // Envía el mensaje al servidor a través del WebSocket
            chatSocket.send(JSON.stringify({
                'message': message,
                'browser': nameBrowser,
            }));

            // Borra el campo de entrada
            messageInputDom.value = '';
        };
    </script>
</body>

</html>